body {
  font-family: arial, sans-serif;
  font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

li {
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: inherit;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.racer {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 5px;
  left: 5px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 800px;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu {
    position: absolute;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    z-index: 2;
    text-align: center;
    background-color: grey;
}

#menu.main {
    background-image: url('assets/images/menu-bg.png');
}

#menu.credits {
    background-image: url('assets/images/credits-bg.png');
}

#progress {
    height: 12%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#percent {
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#progress-bar {
    width: 200px;
}

.sound {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}
.sound-on {
    background-image: url('assets/images/soundOn.png');
    background-repeat: no-repeat;
}
.sound-off {
    background-image: url('assets/images/soundOff.png');
    background-repeat: no-repeat;
}

#main {
    display: none;
    height: 60%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#main h1 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #AA2666;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #FB1886;
    background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
    background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
    border-radius: 5px;
}

.button:hover {
    background-color: #B30D5D;
    background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
    background-image:         linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
}

#credits {
    display: none;
    line-height: 30px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#credits li {
    padding: 5px 0;
}

.artwork, .artist, .music, .developer {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.artwork {
    color: #fa8526;
}
.music {
    color: #e6e71f;
}
.artist {
    color: #13eb8a;
}
.developer {
    color: #13eb8a;
}

.back, .back:hover {
    margin-top: 10px;
}

#game-over {
    display: none;
    text-align: center;
    padding-top: 92px;
    z-index: 1;
    width: 800px;
    height: 600px;
    position: absolute;
}
